.skills {
    columns: 1;
  }
  
  @media only screen and (min-width: 940px) {
    .skills {
      columns: 1;
    }
  }
  
  .skills li {
    margin: 0;
    line-height: 1.75;
  }

  .para{
    font-size: 1.2rem;
  }

  .ids{
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .coding_profiles{
    color: white;
  }

  .ids:hover{
    cursor: pointer;
  } 


.about_icon{
    color: whitesmoke;
    height: 20px;
}

.coding_profiles > a {
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
}

.coding_profiles > a:hover {
    top: -3.5px;
    text-decoration: none;
    color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:active { text-decoration: none; }

small{
    text-size: 0.1rem;
    color: #616161;
}

.about-mobile{
  color: white;
}

@media (max-width : 776px) {
  .term-mobile{
    display: none;
  }
}

/** for the mobile view, we have different about me section !! **/

.about-mobile{
  display: flex;
  flex-direction: column;
}

.h-mobile{
  color: #BFA181;
}

.para-mobile{
  color: white;
  font-size: 0.8rem;
}

.prof_mobile{
  font-size: 0.5rem;
  color: #BFA181;
}

.sub-hed-mobile{
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 20px;
}


/* uno reverse */ 
@media (min-width : 776px){
  .about-mobile{
    display: none;
  }
}